.nav-link {
    display: inline-block;
    background-color: #85b05e;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    margin: 10px 30px;
    width: 180px;
    height: 60px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #96c768;
    box-shadow: 0px 0px 15px 3px #96c768;
    color: white;
    font-weight: bolder;
    transform: scale(1.05);
}

#article-container {
    margin-left: 150px;
}

article,
aside {
    background-color: #8b5a2b;
    color: white;
}

body {
    background-image: url(images/5bb52d881f583897ed5d90b103889020.jpg);
    background-repeat: repeat-x;
    background-color: #2D2016;
}

header {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: inherit;
    background-color: #243525;
    margin-bottom: 30px;
    margin-top: 24px;
}

.media_kep {
    border: 2px solid #85b05e;
    width: 100%;
    max-width: 300px;
    height: auto;
}

@media (min-width: 600px) {
    .media_kep {
        max-width: 500px;
    }
}

@media (min-width: 900px) {
    .media_kep {
        max-width: 700px;
    }
}

.media_div {
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.media_div:hover {
    transform: scale(1.03);
}

#tema {
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

#tema:hover {
    transform: scale(1.05);
    background-color: #9e6634;
}


#nav-current-page {
    background-color: #96c768;
    font-weight: bolder;
    box-shadow: 0px 0px 15px 3px #96c768;
}

.parent-container {
    display: flex;
    flex-direction: column;
    color: #dbcbbf;
}

h4 h5 {
    margin-bottom: 10px;
}

p li {
    flex: 1;
    margin-left: 10px;
    margin-top: 0;
    font-size: 110%;
    font-weight: 500;
}

.content-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.a-tema {
    text-decoration: none;
    color: white;
}

.a-tema:hover {
    color: white;
}

.embedded_youtube {
    width: 800px;
    height: 609px;
    object-fit: contain; 
}

.embedded_image {
    width: 458px; 
    height: 458px;
    margin-top: 90px;
}

.media-container {
    display: flex;
    align-items: flex-start; 
    gap: 30px;
} 

.download{
    text-decoration: none;
    color: white;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.download:hover{
    color: white;
    transform: scale(1.03);
}

.download2{
    margin-top: 220px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.download2:hover{
    color: white;
    transform: scale(1.03);
}

aside {
    width: 100%;
    max-width: 300px;
    margin: 20px;
}

@media (min-width: 600px) {
    .content-container {
        flex-direction: row;
        justify-content: space-between;
    }

    aside {
        width: 25%;
        max-width: none;
        margin: 0 30px;
    }
}

.wall_grass_top {
    background-image: url(images/wall_top_grass.e8d5ebf5.png);
    width: 1863px;
    height: 13px;
    margin-top: 35px;
}