.nav-link{
    display: inline-block;
    background-color: #85B05E;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    margin: 10px 5px;
}
.nav-link:hover{
    background-color: #96c768;
}