.nav-link{
    display: inline-block;
    background-color: #85B05E;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    margin: 10px 5px;
}
.nav-link:hover{
    background-color: #96c768;
}

#article-container{
    margin-left: 150px;
}
article, aside{
    background-color: #8B5A2B;
    color: white;
}
body{
    background:linear-gradient(to right, #2e632b, #634b2b);
    background-repeat: no-repeat;
    background-size: auto;
}
header{
    text-align: center;
}

.nav{
    display: flex;
    justify-content: center;
}